@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Importador CNAB</h1>

    <div class="row mb-3">
        <form method="post" enctype="multipart/form-data">
         
            <div class="input-group mb-3 col-4">
                <input name="fileInput" type="file" class="form-control" id="fileInput">
                <label class="input-group-text" for="fileInput">Upload</label>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>

    @if (Model.Lojas.Count > 0)
    {

        <h1>Listagem de Lojas</h1>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descrição</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var loja in Model.Lojas)
                {
                    <tr>
                        <td>@loja.Id</td>
                        <td>@loja.NomeLoja</td>
                        <td>
                            <a asp-page="VisualizarCliente" asp-route-id="@loja.Id">Visualizar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    
    }
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('form').on('submit', function (event) {
                event.preventDefault(); // Evitar o comportamento padrão de enviar o formulário

                // Criar um objeto FormData para enviar o arquivo
                var formData = new FormData(this);

                // Fazer a requisição AJAX para o método OnPostAsync()
                $.ajax({
                    type: 'POST',
                    url: '@Url.Page("Index", "OnPostAsync")',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if(data)
                        {
                            Swal.fire({
                                icon: 'success',
                                title: 'Arquivo importado com sucesso',
                            })
                        }
                        else
                        {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Ocoreu um erro ao importa arquivo!'
                            })
                        }
                    },
                    error: function (erro) {
                        console.log(erro);
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Ocoreu um erro na solicitacao!'
                        })
                    }
                });
            });
        });
    </script>
    }